* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body .qes{
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.qes .dis{
  padding: 5% 10%;
  font-size: large;
  border-radius: 10px;
  border: none;
  color: white;
  background-image: linear-gradient(45deg, #d2001a, #7462ff, #21f46e, #23d5ab);
  background-size: 300% 300%;
  animation: color 25s ease-in-out infinite;
}
body .container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #d2001a, #7462ff, #21f46e, #23d5ab);
  background-size: 300% 300%;
  animation: color 25s ease-in-out infinite;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.container .solider {
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: rgb(221, 221, 221);
  border-radius: 15px;
}
.solider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 280px;
  background: var(--img);
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 15px;
  transition: all 0.5s;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
body .Emoji{
  font-size: 50px;
  position: absolute;
  top: 48px;
  margin-left: 82%;
  /* left:20px; */
  /* right: initial; */
}
.slides .content{
  position: relative;
  padding: 30px;
  max-width: 900px;
  transition: 0.5s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;
}
.solider .slides:nth-child(1),
.solider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0%);
  background-size: cover;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  color: white;
}
.solider .slides:nth-child(3) {
  left: calc(60% + 100px);
  background-size: cover;
}
.solider .slides:nth-child(4) {
  left: calc(60% + 320px);
  background-size: cover;
}
.solider .slides:nth-child(5) {
  left: calc(60% + 540px);
  background-size: cover;
}
.solider .slides:nth-child(6) {
  left: calc(60% + 760px);
  background-size: cover;
}
.solider .slides:nth-child(7) {
  left: calc(60% + 980px);
  background-size: cover;
  opacity: 0;
}
.button {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
.button span {
  position: relative;
  width: 50px;
  height: 50px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}
.button span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(315deg) translate(2px);
}
.button span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}
.button span:active {
  opacity: 0.5;
}
/* & Responsive */
@media (max-width: 900px) {
  .container .solider {
    position: absolute;
    inset: 25px 25px 200px 25px;
  }
  .solider .slides {
    width: 100px;
    height: 100px;
    top: initial;
    bottom: -170px;
  }
  .content h1{
    font-size: x-large;
  }
  .content p{
    font-size: x-small;
  }
  .solider .slides:nth-child(1),
  .solider .slides:nth-child(2) {
    top: initial;
    bottom: 0px;
  }
  .solider .slides:nth-child(3) {
    left: 0;
  }
  .solider .slides:nth-child(4) {
    left: 120px;
  }
  .solider .slides:nth-child(5) {
    left: 240px;
  }
  .solider .slides:nth-child(6) {
    left: 360px;
  }
  .solider .slides:nth-child(7) {
    left: 480px;
    opacity: 0;
  }
}
.solider .slides:nth-child(1) .content,
.solider .slides:nth-child(2) .content{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.6s;
}
.content p{
  font-size: larger;
}